@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');

body{
    background-color: lightcyan;
    font-family: 'Titillium Web', sans-serif;
}
header{
    background-color: coral;
}
nav{
    background-color: wheat;
}

#logo{
    width: 200px;
}

div p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
}

h1,h2{
    color:black;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    background-color: #1DE6;
}